/* --------------- */
/* algemene  styling */
/* --------------- */

:root {
    --color-tshirt-red: red;
    --color-tshirt-green: green;
    --color-tshirt-blue: blue;
}

img {
    max-width: 10em;
}

body {
    background-color: #fcaf17;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    display: flex;
}

main > section:first-of-type {
    order: 1;
}

main > section:first-of-type {
    order: 2;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
details {
    position: relative;
}

summary {
    font-size: 1.2;
    font-weight: 600;
}

details {
    border: 1px solid black;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

text {
    fill: white;
}

a, button, input[type="submit"]{
    background-color: black;
    color: white;
    padding: 0.5em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

a:hover, button:hover, input[type="submit"]:hover, a:focus, button:focus, input[type="submit"]:focus{
    background-color: white;
    color: black;
}

a {
    max-width: 3em;
}

input[type="text"]:not(:focus):not(:placeholder-shown):invalid, input[type="email"]:not(:focus):not(:placeholder-shown):invalid {
    border: red solid 1px;
}

svg:hover {
    cursor: pointer;
}

/* --------------- */
/* T-shirt */
/* --------------- */

/* drag */

.shirt > section {
    position: relative;
    width: 160px;
    height: 160px;
}

#shirt, #shirt2, #shirt3 {
    position: absolute;
}

/* color */

:has(main > section:nth-child(2) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(2) > input:checked) details:first-of-type svg{
    fill: var(--color-tshirt-red);
}

:has(main > section:nth-child(2) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(3) > input:checked) details:first-of-type svg{
    fill: var(--color-tshirt-green);
}

:has(main > section:nth-child(2) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(4) > input:checked) details:first-of-type svg{
    fill: var(--color-tshirt-blue);
}

:has(main > section:nth-child(3) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(2) > input:checked) details:nth-of-type(2) svg{
    fill: var(--color-tshirt-red);
}

:has(main > section:nth-child(3) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(3) > input:checked) details:nth-of-type(2) svg{
    fill: var(--color-tshirt-green);
}

:has(main > section:nth-child(3) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(4) > input:checked) details:nth-of-type(2) svg{
    fill: var(--color-tshirt-blue);
}

:has(main > section:nth-child(4) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(2) > input:checked) details:nth-of-type(3) svg{
    fill: var(--color-tshirt-red);
}

:has(main > section:nth-child(4) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(3) > input:checked) details:nth-of-type(3) svg{
    fill: var(--color-tshirt-green);
}

:has(main > section:nth-child(4) > form > fieldset:nth-child(3) > section:nth-child(2) > label:nth-child(4) > input:checked) details:nth-of-type(3) svg{
    fill: var(--color-tshirt-blue);
}

.red {
    fill: var(--color-tshirt-red);
}

.green {
    fill: var(--color-tshirt-green);
}

.blue {
    fill: var(--color-tshirt-blue);
}

/* graphic */
#blah, #blah2, #blah3 {
    max-width: 5em;
    max-height: 7.5em;
    top: 4em;
    left: 2.5em;
    position: absolute;
}

/* scanner */
#scanner.hide {
    display: none;
}

video {
    border-radius: 50%;
}

/* paspop */

.paspop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.paspop > img {
    max-width: 25em;
}

.paspop > section:first-of-type {
    position: absolute;
    top: 0em;
    left: 4.5em;
}

@media only screen and (max-width: 600px) {
    .paspop {
      display: none;
    }
  }